<div class="card p-5 mt-5" style= "background-color: #05ffb030;">
    
    <h3 class="card-title text-white">Bio</h3>
    
    <div class="card-body">

        <div class= "row">
            
            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    
                </div>
                
            </div>

        </div>
        
        <div class= "row mt-5">
            
            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    
                </div>
                
            </div>
            
        </div>

    </div>
    
</div>